
    #map{ 
        height: 600px;
        width: 800px;
    }
    .h1 {
        font-weight: bold;
    }
	.myform {
		float:right;
	}
	
select {
    padding:7px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;   
    background: #4C4C4C;
    color:#FFFFFF;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}



#ok {
	padding:6px;
	width: 45px;
	background-color: #74c365;
	border-color: #74c365;
	color: #ffffff;
}

#ok:hover {
background-color:#77dd77;  }

#selectid:hover {
background-color:grey;  }




#chart {
	bottom: 350px;
	left: 700px;
	width: 50%;
}